* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
body header .barraLogo {
  height: 25vh;
  width: 100vw;
  text-align: center;
  background-color: #DB0900;
  grid-area: barraLogo;
}
body header nav {
  background-color: black;
  width: 100vw;
  grid-area: navegador;
}
body header nav ul {
  list-style-type: none;
  text-align: center;
}
body header nav ul li {
  display: inline;
}
body header nav a {
  text-decoration: none;
  text-align: center;
  color: aliceblue;
  font-size: 1.75em;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Merienda", cursive;
}
body header nav .navbar-brand {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body header nav .navegador {
  grid-area: navegador;
}
body header nav .navegador ul {
  margin: 0;
}
body header nav .navbar-toggler-icon {
  background-color: white;
}
body main {
  background-color: #E3E8E6;
  font-family: "Satisfy", cursive;
  font-size: 1.25em;
  width: 100vw;
}
body main h1 {
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body main h1, body main h2, body main p {
  padding-left: 10px;
}
body main li {
  padding-left: 20px;
}
body main .mainIndex {
  display: flex;
  flex-direction: row;
  grid-area: mainIndex;
  padding-left: 0px;
  margin: 0;
}
body main .mainIndex #imagenBienvenida {
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
body main .mainIndex .textoBienvenida {
  padding-left: 10px;
}
body main .mainIndex .textoBienvenida li {
  list-style-type: none;
}
body main .containerPedidos {
  display: grid;
  grid-template-areas: "barraLogo barraLogo" "navegador navegador" "mainHacerPedido mainHacerPedido" "footer footer";
  width: 100vw;
}
body main .containerPedidos .mainHacerPedido {
  grid-area: mainHacerPedido;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
body main .containerPedidos .mainHacerPedido .comoHacerPedido {
  padding-left: 30px;
}
body main .containerPedidos .mainHacerPedido .comoSaberTalle {
  padding-left: 30px;
}
body main .row img {
  border-radius: 10px;
  margin: 20px;
  border: solid;
}
body main .contacto iframe {
  padding-left: 30px;
}
body main .contacto a {
  text-decoration: none;
  color: #DB0900;
}
body footer {
  display: flex;
  justify-content: space-between;
  background-color: #DB0900;
  font-family: monospace;
  font-size: 14px;
  padding-right: 10px;
  grid-area: footer;
  margin: 0;
  width: 100vw;
}
body footer p {
  margin: 5px;
}
body footer #logoInstagram {
  width: 3vw;
  margin-top: 10px;
}

@media (max-width: 1040px) {
  .mainIndex {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
  .tablaDeTalles img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 10px 10px 10px 10px;
  }
  .row img {
    width: 300px;
  }
  body header .barraLogo {
    height: 15vh;
    width: 100vw;
  }
  body header .barraLogo img {
    width: 120px;
  }
  body footer #logoInstagram {
    width: 4vw;
    margin-top: 20px;
  }
}
@media (max-width: 560px) {
  .mainIndex {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
  .row img {
    width: 250px;
  }
  .contacto iframe {
    width: 300px;
  }
  body header .barraLogo {
    height: 15vh;
    width: 100vw;
  }
  body header .barraLogo img {
    width: 100px;
  }
  body footer #logoInstagram {
    width: 10vw;
    margin-top: 10px;
  }
}
@media (min-width: 1041px) {
  .mainIndex {
    display: flex;
    flex-direction: row;
    margin: 0;
    text-align: center;
  }
  .row img {
    width: 500px;
  }
}/*# sourceMappingURL=styles.css.map */